@PrefixCls:row;
.@{PrefixCls}-party-outer{
  padding: 0 25px;
  &-text-box{
    display: flex;
    flex-direction:column;
    justify-content: space-between;

    &-time{
      color: #656577;
    }
  }
}
.@{PrefixCls}-message-content{
  font-size: 30px;
}
.@{PrefixCls}-message-title{
  & h3{
    margin: 0;
    font-size: 35px;
  }
}

