
.twinsOuter {
  position: relative;
  flex: 1;
  margin: 10px;
  box-shadow: #d6d0d0 0 10px 10px 4px; //边框阴影
  border-radius: 10px;
  & .img {
    overflow: hidden;
    border-radius: 10px;
    //:after {
    //  content: "";
    //  position: absolute;
    //  top: 0;
    //  left: 0;
    //  width: 100%;
    //  height: 100%;
    //  box-sizing: border-box;
    //  padding: 20px;
    //  background-color: rgba(0, 0, 0, .3);
    //  color: #fff;
    //  text-align: center;
    //}
    & .image {
      height: 140px;
      background-size: cover;
      background-position: center center;
    }
  }

}

.twinsTitle {
  position: absolute;
  top: 20%;
  font-weight: bold;
  letter-spacing: 0.2em;
  left: 8%;
  right: 0;
  font-size: 30px;
  color: #fff;
}

.grid {
  display: flex;
  justify-content: space-around;
  padding: 0 10px;
}


