@import '../../themes/default.less';

@PrefixCls: header;
.@{PrefixCls}-logo-outer {
  height: (@primary-header-height);
  text-align: center;
  padding: 0 20px;
  background-size: cover;
  background-position: center;
  position: relative;
  & > img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto auto;
    height: (@primary-header-height)-10;
  }
}

.@{PrefixCls}-notlogin {
  display: flex;
  align-items: center;
  margin-right: 20px;
  color: white;
  font-style: @FontSizeLg;
}

.@{PrefixCls}-logo-user {
  position: absolute;
  top: 52%;
  right:16px;
  transform: translateY(-50%);

  img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
}
