@PrefixCls: livelihood;
.@{PrefixCls}-outer {
  padding-bottom: 140px;

  &-title {
    height: 90px;
    text-align: center;
    font-size: 40px;
    background: #fff;
    line-height: 90px;
    font-weight: bold;
    box-shadow: 0 0.05rem 0.1rem #ddd;
  }
  &-content {
    &-home {
      &-info {
        border-top: 1px solid #ddd;
        background: #fff;
        display: flex;
        justify-content: center;
        &-left {
          font-size: 30px;
          width: 50%;
          flex-grow: 1;
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          border-right: 1px solid #ddd;
          & img {
            width: 180px;
          }
        }
        &-right {
          :global{
            .am-grid .am-flexbox .am-flexbox-item .am-grid-item-content .am-grid-item-inner-content.column-num-2 .am-grid-text{
              font-size: 30px;
            }
          }
          width: 50%;
          flex-grow: 1;
        }
      }
    }

    &-car {
      background: #fff;
      &-info {
        &-top {
          display: flex;
          justify-content: space-between;
          border-right: 1px solid #ddd;
          & div {
            border-right: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
            width: 50%;
            font-size: 30px;
            padding: 20px 40px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            & img {
              margin-left: 20px;
              width: 80px;
            }
          }
        }
        &-bottom {
          border-right: 1px solid #ddd;
          border-bottom: 1px solid #ddd;
          display: flex;
          justify-content: space-between;
          text-align: left;
          & div {
            border-right: 1px solid #ddd;
            display: flex;
            font-size: 30px;
            justify-content: flex-start;
            align-items: center;
            padding: 20px 40px;
            width: 50%;
            & img {
              width: 80px;
              margin-left: 20px;
            }
          }
        }
      }
    }
    &-order {
      &-info {
        font-size: 30px;
        border-top: 1px solid #ddd;
        background: #fff;
        display: flex;
        justify-content: center;
        &-left {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          width: 50%;
          flex-grow: 1;
          border-right: 1px solid #ddd;
          & img {
            width: 150px;
          }
        }
        &-right {
          width: 50%;
          flex-grow: 1;
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: center;
          & div {
            border-bottom: 1px solid #ddd;
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 20px 0 20px 0;
            & span {
              margin-left: 40px;
            }
            & img {
              width: 80px;
              margin-left: 20px;
            }
          }
        }
      }
    }

    &-map {
      width: 100%;

      &-info {
        width: 100%;
        background: #fff;
        padding: 20px 40px;
        & span {
          margin-right: 80px;
        }
      }
    }
  }

}
