@PrefixCls: fairservice;
.@{PrefixCls}-grids {
  //padding: 20px;
  //background: #fff;
  //:global {
  //  .am-grid .am-flexbox .am-flexbox-item .am-grid-item-content {
  //    padding: 10px 0 !important;
  //  }
  //  .am-grid.am-grid-square .am-grid-item:before {
  //    padding-bottom: 74%;
  //  }
  //}
}

.@{PrefixCls}-outer {
  background: #fff;
  min-height: 100vh;
}
