@PrefixCls: headline;

.@{PrefixCls}-outer {
  :global {

  }
}

.@{PrefixCls}-image {
  position: relative;
  boxShadow: 4px 2px 2px rgba(0, 0, 0, 0.4);
  font-size: @FontSizeNm;
  font-weight: bold;
  letter-spacing: 0.1em;
  //overflow: hidden;
  & img {
    height: 28vh;
  }
  & div {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    color: #fff;
    padding: 20px;
    background: rgba(0, 0, 0, .6);
    background: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, .4) 80%, rgba(0, 0, 0, .4));
    background: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, .4) 80%, rgba(0, 0, 0, .4));
    background: -o-linear-gradient(top, transparent, rgba(0, 0, 0, .4) 80%, rgba(0, 0, 0, .4));
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
  }
}

.@{PrefixCls}-noticeouter {
  //min-height:70px;
  background: #fff;
  padding: 0 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  & img {
    //width:16%;
    height: 42px;
  }
  &-container {
    padding: 24px 0;
    font-size: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    &-title {

    }
  }
}
